.skills-div {
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.skills-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
}

@media (min-width: 768px) {
    .skills-content {
        flex-direction: row;
    }
}

.skills-text {
    flex: 1;
    padding: 1rem;
}

.skills-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

@media (min-width: 768px) {
    .skills-title {
        font-size: 2.5rem; 
        text-align: left;
    }
}

.text-description {
    font-size: 1rem;
    line-height: 1.8;
    text-align: justify;
    margin: 0 auto;
    max-width: 600px;
    color: #b0b0b0;
}

/* Technologies Section */

.skills-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .skills-list {
        flex-direction: row;
    }
}

.skills-list-coloum {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: start;
    font-size: 2.5rem;
    color: #10b981;
    font-weight: bold;
}